<div class="container" style="margin-top: 30px;">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="noo-sh-title">Chúng tôi là <span> APRIL 26</span></h2>
    <p>Hoa là món quà vô giá mà thiên nhiên đã dành tặng cho con người. Mỗi loài hoa mang một vẻ đẹp và sắc thái riêng, chính vì vậy mà người thưởng thức hoa có thể gởi gắm tâm tư tình cảm của mình vào giỏ hoa một cách tinh tế, ý nghĩa</p>

    <p>Bên cạnh đó, mỗi loài hoa còn mang một ý nghĩa đặc biệt, hiểu được nó sẽ giúp bạn tránh khỏi những bối rối không nói nên lời trước một tình yêu e ấp, trước một tình bạn bền lâu, một lòng biết ơn vô bờ bến đối với cha với mẹ, hay chỉ đơn giản là một lời cảm ơn sâu sắc, chân thành…</p>

    <p>Đến với Maianhoa.vn các bạn sẽ được nhìn ngắm đầy đủ các loại hoa và kiểu hoa được kết khéo léo hoàn toàn mới nhưng vẫn toát lên vẻ đẹp tự nhiên vốn có của mỗi loài hoa. Từ những nguyên liệu cơ bản kết hợp với sự khéo léo của đôi bàn tay người thợ, Maianhoa.vn đã thổi vào đó một hồn hoa tinh tế với màu sắc thật tự nhiên, mềm mại. Bên cạnh vẻ đẹp tươi tắn, sinh động đó, mỗi giỏ hoa còn có độ tươi bền lâu, góp phần tăng thêm giá trị vẻ đẹp</p>

    <p>Với những ưu điểm nổi bật trên, Maianhoa.vn mong muốn đem đến cho quý khách những sản phẩm hoa thân thiện, gần gũi, góp phần trang trí cho không gian sống của gia đình bạn thêm sinh động, mới mẻ. Bên cạnh đó, giá cả hợp lí phải chăng sẽ giúp quý khách có được sự lựa chọn tốt nhất cho sản phẩm mình yêu thích.</p>
    
    <p>Ngoài ra, chúng tôi chuyên nhận đặt hoa cho các chương trình sự kiện lớn như: hội thảo, cưới hỏi… vv…</p>

    <p>Đến với Maianhoa.vn, là đến với những mẫu hoa độc đáo, luôn được trang trí ấn tượng, sang trọng, mang tính nghệ thuật truyền cảm hứng cao tới người được nhận.</p>

    <p>Chúng tôi luôn sẵn sàng phục vụ Quý khách, với sự tận tình chu đáo, bằng nhiều sản phẩm và dịch vụ đa dạng, chuyển hoa miễn phí trong các dịp lễ tết, một cách nhanh chóng nhất.</p>

    <p>Thông điệp mà chúng tôi muốn gửi tới khách hàng là chúc Quý vị luôn vui vẻ, hạnh phúc và có cuộc sống thật tươi đẹp.</p>

    <p>Chúng tôi xin chân thành cảm ơn sự ủng hộ của Quý Vị.</p>
                </div>
                <div class="col-lg-12">
                    <div class="banner-frame"> <img src="./images/hoa_hong (9).jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi đáng tin cậy</h3>
                        <p> Bằng tất cả niềm đam mê và tận tâm,Maianhoa.com luôn chọn những bông hoa tươi nhất và sáng tạo lên những mẫu hoa tuyệt vời để chuyển đến người thân yêu của bạn cùng với những lời chúc tốt đẹp. Ngoài các dịch vụ về hoa tươi như: hoa sinh nhật, hoa chúc mừng, hoa chia buồn và shop hoa chúng tôi hiểu được thêm nhu cầu của bạn, chúng tôi có liên kết với các hãng có uy tín để cung cấp thêm các dịch vụ như: bánh sinh nhật, Chocolate, Gấu bông, kẹo ngọt, trái cây.</p>
                    </div>

                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi chuyên nghiệp</h3>
                        <p>Với sự đầu tư nghiêm túc, shop hoa tươi Maianhoa tập trung nâng cao trải nghiệm người dùng (Customer Experience) kể cả trên môi trường trực tuyến và ngoại tuyến để đem lại một dịch vụ điện hoa hoàn hảo xứng đáng trong nỗ lực trở thành công ty điện hoa số 1 tại Việt Nam.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>Chúng tôi là những chuyên gia</h3>
                        <p>Shop hoa Hoayeuthuong.com được thành lập đầu tiên bởi chị Lê Mai An, với mong muốn xây dựng một hệ sinh thái cho ngành hoa tươi tại Việt Nam dựa trên nền tảng Công Nghệ Thông Tin. Việc ứng dụng công nghệ giúp chúng tôi tiết kiệm những quy trình không cần thiết để giảm giá thành sản phẩm và giải quyết được nhiều bài toán lớn về chuỗi cung ứng hoa tươi trên cả nước.</p>
                    </div>
                </div>
            </div>
        </div>